body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    min-height: 100vh;
}

.navbar {
    background-color: #352F44;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
}

#home {
    margin-top: 5px;
}


.navbar h2 {
    color: #FAF0E6;
    font-size: 10px;
    font-weight: 200;
    float: left;
    position: relative;
    right: 42px;
    font-family: cursive;
}

.navbar ul {
    position: relative;
    left: 35px;
    list-style: none;
    margin: 2px
}

.navbar ul li {
    display: inline-block;
    font-size: 9px;
}


.navbar ul li a {
    text-decoration: none;
    color: #FAF0E6;
    padding: 2px;
}

.navbar ul li a:hover {
    background-color: #5C5470;
    border-radius: 1px;
    color: #B9B4C7;
    padding: 2px;
}

/* INI LAMAN KONTEN */
.content {
    margin: auto;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
    padding: 2px;

}

.wrapper-content {
    margin-bottom: 25px;
}

.content-1 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.55);
}

.content-1 h2 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600px;
    max-width: 320px;
    text-align: center;
}

.content-1 p {
    font-size: 13px;
    text-align: justify;
    max-width: 300px;
    margin: auto;
}

.content-1 img {
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    left: 10%;
    top: 15px;
    height: 80%;
    width: 80%;
}

.clear {
    clear: left;
}

.content-1 button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 9px;
    color: #FAF0E6;
    background-color: #5C5470;
    position: relative;
    top: 1px;
    right: 40%;
    margin-bottom: 20px;
}


.content-2 {
    position: relative;
    top: 2px;
    padding: 7px;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    max-width: 300px;
    margin: auto;
}

.content-3 {
    position: relative;
    top: 2px;
    padding: 7px;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    max-width: 300px;
    margin: auto;
}

.content-4 {
    position: relative;
    top: 2px;
    padding: 7px;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    max-width: 300px;
    margin: auto;
}

.title-content2 h3 {
    text-align: center;
}

.content-2 p {
    font-size: 13px;
    text-align: justify;
    max-width: 300px;
    margin: auto;
}

.content-3 p {
    font-size: 13px;
    text-align: justify;
    max-width: 300px;
    margin: auto;
}

.content-4 p {
    font-size: 13px;
    text-align: justify;
    max-width: 300px;
    margin: auto;
}

.content-2 img {
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
    height: 60%;
    width: 60%;
}

.content-3 img {
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
    height: 60%;
    width: 60%;
}

.content-4 img {
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
    height: 60%;
    width: 60%;
}

.content-2 a {
    text-decoration: none;
    font-size: 13px;
}

.content-3 a {
    text-decoration: none;
    font-size: 13px;
}

.content-4 a {
    text-decoration: none;
    font-size: 13px;
}



/* INI LAMAN FOOTER */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #352F44;
    color: #FAF0E6;
    padding: 1px;
    height: 20px;
}

.footer p {
    position: relative;
    bottom: 5.5px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media only screen and (min-width:768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
    }

    /* INI NAVBAR */
    .navbar {
        width: 100%;
        height: 30px;
    }

    .navbar h2 {
        font-family: cursive;
        font-size: 16px;
        right: 690px;
        text-decoration: underline;
    }

    .navbar a {
        font-size: 12px;
        position: relative;
        left: 650px;
        margin-left: 2px;
    }

    /* INI KONTEN */

    .content {
        width: 100%;
    }

    .content-1 .wrap-ctn {
        float: left;
    }

    .wrap-ctn {
        position: relative;
        top: 300px;
        left: 150px;
        min-width: 200px;
    }

    .wrap-ctn h2 {
        text-align: left;
        font-weight: 200px;
        font-size: 25px;
    }

    .wrap-ctn p {
        text-align: justify;
        position: relative;
        right: 10px;
        font-size: 14px;
    }

    .wrap-ctn button {
        position: relative;
        left: 0px;
        top: 15px;
    }

    .content-1 img {
        position: relative;
        top: 160px;
        left: 650px;
        width: 30%;
        height: 30%;
    }

    .title-content2 {
        text-decoration: underline;
    }
    
    .content-2 a {
        position: relative;
        top: 8px;
        right: 40px;
        text-decoration: none;
        color: #5C5470;
    }

    .content-2 {
        width: 100%;
    }

    #boost-1 {
        width: 375px;
        height: 250px;
        
    }
    
    .content-2 {
        margin: 10px;
        max-width: 400px;
        float: left;
        height: 370px;
        box-sizing: border-box;
        border: 1px solid #352F44;
        padding: 7px 3px 7px 3px;

    }
    
    #boost-2 {
        width: 385px;
        height: 250px;
    }

    .content-2 p {
        text-align: justify;
        min-width: 380px;
    }
    
    
    .content-3 {
        box-sizing: border-box;
        margin: 10px;
        max-width: 400px;
        float: left;
        border: 1px solid #352F44;
        padding: 7px 3px 7px 3px;
        height: 370px;
    }

    .content-2 a {
        position: relative;
        top: 8px;
        right: 1px;
        text-decoration: none;
        color: #5C5470;
    }

    .content-2 a:hover {
        text-decoration: underline;
    }

    .content-3 a {
        position: relative;
        top: 8px;
        right: 1px;
        text-decoration: none;
        color: #5C5470;
    }

    #boost-3 {
        width: 385px;
        height: 250px;
    }

    .content-3 p {
        text-align: justify;
        min-width: 380px;
    }

    .content-3 a:hover {
        text-decoration: underline;
    }
    
    
    .content-4 {
        border: 1px solid #352F44;
        margin: 10px;
        max-width: 400px;
        float: left;
        box-sizing: border-box;
        padding: 7px 3px 7px 3px;
        height: 370px;
    }

    .content-4 a {
        position: relative;
        top: 8px;
        right: 1px;
        text-decoration: none;
        color: #5C5470;
    }
    
    .content-4 p {
        text-align: justify;
        min-width: 380px;
    }

    #boost-4 {
        width: 385px;
        height: 250px;
    }

    .content-4 a:hover {
        text-decoration: underline;
    }

    .clear-2 {
        clear: left;
    }

    /* INI FOOTER */
    .footer {
        width: 100%;
        height: 30px;
    }

    .footer p {
        font-size: 13px;
    }
}

